
.bg-white{
    background-color: #322435 !important;
    margin-top: 10% !important;
    margin-bottom: 15px !important;
}
.banner{
    margin-top: 5%;
    background-color: #5c4961;
}
.banner-txt{
    padding: 5% 0 5% 0;
    color: #fff;
}